@import "../../styles/GlobaslStyles.scss";

.totalValue__section {
  @include spacing();

  .totalValue__container {
    border: 1px solid var(--grey-3);
    border-radius: var(--radius-2);
    padding: 1rem;

    .totalValue__display {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 1rem;

      span {
        color: var(--brand-color-1);
      }
    }
  }
}
