@import "../../styles/GlobaslStyles.scss";

.form__section {
  @include spacing();
  
  .form__container {
    border: 1px solid var(--grey-3);
    border-radius: var(--radius-2);

    form {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      gap: 0.8rem;

      input,
      select {
        height: 3rem;
        padding-left: 1rem;
        background-color: var(--grey-4);
        border: none;
        border-radius: var(--radius-1);
      }

    small {
      position: relative;
      bottom: 0.4375rem;
      left: 0.625rem;
      color: var(--grey-2);
    }

      button {
        color: var(--white-fixed);
        background-color: var(--brand-color-1);
        height: 3rem;
        border-radius: var(--radius-1);
        border: none;
        margin-bottom: 1rem;

        &:hover {
          background-color: var(--brand-color-2);
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .form__container {
    button {
      width: 250px;
      align-self: flex-end;
    }
  }
}


